.Container {
    width: 15%;
    height: 100%;
    background-color: var(--color-green-200);
    padding: 4rem 0 0;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    overflow: hidden;
}

.Container .item {
    width: 100%;
    margin-left: 4rem;
    padding: 1rem;
    border-radius: 18px 0 0 18px;
}

.Container .item h3 {
    font-weight: 500;
    font-size: 1.15rem;
}
